* {
	box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #111;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 600;

}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	gap: 5px;
	border: 3px solid #ccc;
    border-radius: 3px;
    flex-wrap: wrap;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-right: 20px;
	flex-wrap: wrap;

}

.logo img {
  max-width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 5px;
}


main {
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

.about {
 
}

.navAb {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.navAb a {
    border: 5px solid #ccc;
    border-radius: 5px;
    background: #ccc;
    color: black;
}

.skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.skills article {
  border: 3px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  max-width: none;;
}

.skills img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

span {
	color: blue;
	font-size: 20px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo img {
  max-width: 180px;
  height: 80px;
  border-radius: 10px;
}

}

@media (min-width: 1024px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects {
  border: 3px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

.projects article {
  border: 3px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;	
}



.modal {
  position: fixed;
  inset: 0;              /* top/right/bottom/left: 0 */
  background: rgba(0,0,0,.6);
  display: none;         /* скрыта */
  align-items: center;   /* центрирование */
  justify-content: center;
  z-index: 1000;	
}

.modal__content {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
}


.modal-active {
	display: flex;
}

body.no-scroll {
  overflow: hidden;
}

footer {
	display: flex;
	justify-content: center;
}